.general {
  background-color: coral;
  padding: 2%;
  border-radius: .3125rem;
  margin: 90px auto;
  max-width: 80%;
}

.general__divisor {
  background: url('../../images/pessoasjovens.jpg');
  background-size: cover;
  height: 550px;
}