.footer {
  box-shadow: 0px -5px 5px -5px black;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  background-color: #0455bf;
  color: white;
}

.footer__link {
  color: bisque;
  cursor: pointer;
  text-decoration: none;
}

.footer__credit {
  color: gray;
  font-size: 9px;
}