.footer {
  box-shadow: 0px -5px 5px -5px black;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  background-color: #0246a0;
  color: white;
}

.footer__link {
  color: #05c7f2;
  cursor: pointer;
  text-decoration: none;
}

.footer__credit {
  color: rgb(202, 201, 201);
  font-size: 9px;
}
