@import url(./vendor/normalize.css);

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffe085;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-size: 22px;
}

.section__title {
  margin-top: 50px;
  color: cornsilk;
  font-size: 2.5em;
}

.section__subtitle {
  margin-top: 50px;
  color: cornsilk;
  font-size: 1.2em;
}

.section__text {
  background-color: steelblue;
  max-width: 500px;
}

.section__quote {
  color: cornsilk;
  margin-top: 50px;
  font-weight: bold;
}

.section__paragraph {
  margin: 0 auto;
  margin-top: 50px;
  color: cornsilk;
  margin-bottom: 1rem;
}

.section__paragraph a {
  color: darkblue;
  text-decoration: none;
}

.section__container {
  background-color: coral;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reverse {
  flex-wrap: wrap-reverse;
}

.section__chart {
  background-color: coral;
  max-width: 500px;
  padding: 0;
  margin-top: 50px;
}

.chart {
  width: 100%;
  max-width: 600px;
}

.big-chart {
  margin-top: 50px;
}