@import url(./vendor/normalize.css);

body {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fedd74;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  font-size: 22px;
} */

.section__title {
  margin-top: 50px;
  color: #0455bf;
  font-size: 55px;
}

.section__subtitle {
  margin-top: 50px;
  color: #0455bf;
  font-size: 31px;
}

.section__text {
  max-width: 500px;
}

.section__quote {
  margin-top: 50px;
  font-weight: bold;
}

.section__paragraph {
  margin: 0 auto;
  margin-top: 50px;
  font-size: 22px;
  text-align: justify;
}

.section__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reverse {
  flex-wrap: wrap-reverse;
}

.section__chart {
  width: 50%;
  max-width: 500px;
  padding: 0;
  margin-top: 50px;
  text-align: left;
}

.chart {
  width: 100%;
  max-width: 600px;
}

.big-chart {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}

@media screen and (max-width: 1016px) {
  .section__chart {
    width: 100%;
    max-width: 500px;
  }
}