@import url(./vendor/normalize.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2c84c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-size: 22px;
}

.section__subtitle {
  color: blue;
  font-size: 1.2em;
}

.section__text {
}

.section__quote {
  margin-top: 50px;
  font-weight: bold;
}

.section__paragraph {
  margin-top: 50px;
}

.section__container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
